<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>パスワード変更</h1>
    <p style="color: red"><%= err %></p>
    <form method="post" action="/change">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <label for="email">
        メールアドレス
        <input
          id="email"
          placeholder="email"
          autocomplete="off"
          type="email"
          name="email"
        />
      </label>
      <br />
      <label for="birthplace">
        出身地
        <input
          id="birthplace"
          placeholder="birthplace"
          type="text"
          name="birthplace"
          autocomplete="off"
        />
      </label>
      <br />
      <label for="newPassword">
        新しいパスワード
        <input
          id="newPassword"
          placeholder="newPassword"
          type="password"
          name="newPassword"
          autocomplete="off"
        />
      </label>
      <br />
      <input id="submit" type="submit" value="変更" />
    </form>
  </body>
  <script></script>
</html>
