<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <h1>ようこそお客様</h1>
    <a href="myPage">マイページはこちら</a>
    <a style="margin-left: 20px" href="login">ログインはこちら</a>
  </body>
  <script></script>
</html>
