<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>ログイン</h1>
    <p style="color: red"><%= err %></p>
    <form method="post" action="/login">
      <input type="hidden" name="_csrf"  value="<%= csrfToken %>" />
      <input id="email" placeholder="email" autocomplete="off" type="email" name="email" />
      <input id="password" placeholder="password" autocomplete="off" type="password" name="password" />
      <input id="submit" type="submit" value="login" />
    </form>
    <a href="signUp">新規会員登録はこちら</a>
    <a style="margin-left: 20px;" href="editPassword">パスワードを忘れた方はこちら</a>
  </body>
  <script></script>
</html>
