<!DOCTYPE html>
<html>
  <head>
    <title>hello</title> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>ログイン</h1>
    <p style="color: red"><%= err %></p>
    <form method="post" action="/login">
      <input id="email" placeholder="email" type="email" name="email" autocomplete="off"/>
      <input id="password" placeholder="password" type="password" name="password" autocomplete="off"/>
      <input id="submit" type="submit" value="login" />
    </form>
    <a href="signUp">新規会員登録はこちら</a>
  </body>
  <script></script>
</html>
