<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <h1>
      ようこそ
      <span style="font-size: 40px; font-weight: bold; color: blue"
        ><%= name %></span
      >様
    </h1>
    <a href="logOut">ログアウト</a>
  </body>
  <script></script>
</html>
